#bm {
  z-index: 1;
  position: absolute;
  width: 98%;
  height: 98%;
  pointer-events: none;
}

.shop {
  position: absolute;
  margin-top: 10%;
  margin-left: 15%;
  width: 10%;
  min-width: 210px;
}
.shop:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.about {
  position: absolute;
  margin-top: 37%;
  margin-left: 15%;
  width: 12%;
  min-width: 250px;
}
.about:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.work {
  position: absolute;
  margin-top: 10%;
  margin-left: 74%;
  width: 16%;
  min-width: 250px;
}
.work:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.mothership {
  position: absolute;
  margin-top: 37%;
  margin-left: 69%;
  width: 23%;
  min-width: 500px;
}
.mothership:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
img {
  width: 100%;
}
